extends ../layout

block content
    
    table.table.table-striped
        thead
            tr
                th ID
                th Name
                th Email
                th Mobile
                th Password
                th Action
        tbody
         - for(let i=0;i<data.length;i++){
                tr
                    td=data[i]._id
                    td=data[i].name
                    td=data[i].email
                    td=data[i].mobile
                    td=data[i].password
                    td
                        a.gb-btn.btn.btn-success(href="#",title="Edit")
                            i.fa.fa-edit
                        a.gb-btn.btn.btn-info(href="/users/view/"+data[i]['_id'],title="View")
                            i.fa.fa-eye
                        form(method="post",action="/users/delete/"+data[i]._id+"?_method=DELETE")
                            button.gb-btn.btn.btn-danger(title="Delete",type="submit")
                                i.fa.fa-trash
                        //- form(method="post",action="/users/delete/"+data[i]._id)
                        //-     button.gb-btn.btn.btn-danger(title="Delete",type="submit")
                        //-         i.fa.fa-trash
         - }
            
            